In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('bmh')

In [5]:
games = pd.read_csv(r"C:\Users\kyrie\ironhack-Final-Project\final_project\cleangames.csv")
games

,Unnamed: 0,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,0,2022-03-12,22101005,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,1,2022-03-12,22101006,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2,2022-03-12,22101007,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,3,2022-03-12,22101008,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,4,2022-03-12,22101009,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11987,25791,2014-10-06,11400007,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
11988,25792,2014-10-06,11400004,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
11989,25793,2014-10-06,11400005,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
11990,25794,2014-10-05,11400002,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
11991,25795,2014-10-04,11400001,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [6]:
giannis = pd.read_csv(r"C:\Users\kyrie\ironhack-Final-Project\final_project\giannis.csv")
giannis

,Unnamed: 0,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,72,22101008,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,Giannis,F,NaN,...,1.0,7.0,8.0,3.0,0.0,1.0,1.0,2.0,31.0,-26.0
1,555,22100984,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,Giannis,F,NaN,...,3.0,9.0,12.0,5.0,1.0,0.0,2.0,4.0,43.0,3.0
2,859,22100979,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,Giannis,F,NaN,...,1.0,6.0,7.0,7.0,3.0,1.0,1.0,3.0,39.0,18.0
3,1144,22100961,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,Giannis,F,NaN,...,3.0,10.0,13.0,6.0,1.0,3.0,3.0,6.0,19.0,-8.0
4,1556,22100949,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,Giannis,F,NaN,...,4.0,12.0,16.0,5.0,2.0,1.0,4.0,4.0,34.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,607784,11300086,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,NaN,NaN,...,1.0,5.0,6.0,1.0,2.0,2.0,1.0,4.0,6.0,NaN
776,608563,11300053,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,NaN,NaN,...,1.0,2.0,3.0,0.0,1.0,0.0,0.0,1.0,8.0,NaN
777,608914,11300042,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,NaN,NaN,...,1.0,4.0,5.0,2.0,0.0,1.0,0.0,0.0,2.0,NaN
778,609195,11300028,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,NaN,NaN,...,0.0,7.0,7.0,0.0,1.0,4.0,7.0,5.0,4.0,NaN
779,609482,11300016,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,NaN,NaN,NaN,...,0.0,4.0,4.0,2.0,2.0,3.0,5.0,5.0,14.0,NaN

In [8]:
df = pd.merge(games, giannis, how='inner', on = 'GAME_ID')
df

,Unnamed: 0_x,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,3,2022-03-12,22101008,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,1.0,7.0,8.0,3.0,0.0,1.0,1.0,2.0,31.0,-26.0
1,22,2022-03-09,22100984,1610612749,1610612737,2021,1610612749,124.0,0.500,0.783,...,3.0,9.0,12.0,5.0,1.0,0.0,2.0,4.0,43.0,3.0
2,35,2022-03-08,22100979,1610612760,1610612749,2021,1610612760,115.0,0.500,0.714,...,1.0,6.0,7.0,7.0,3.0,1.0,1.0,3.0,39.0,18.0
3,46,2022-03-06,22100961,1610612749,1610612756,2021,1610612749,132.0,0.540,0.793,...,3.0,10.0,13.0,6.0,1.0,3.0,3.0,6.0,19.0,-8.0
4,63,2022-03-04,22100949,1610612741,1610612749,2021,1610612741,112.0,0.500,0.727,...,4.0,12.0,16.0,5.0,2.0,1.0,4.0,4.0,34.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,25735,2014-10-17,11400068,1610612750,1610612749,2014,1610612750,98.0,0.422,0.719,...,3.0,6.0,9.0,2.0,1.0,2.0,2.0,2.0,19.0,4.0
779,25750,2014-10-14,11400049,1610612739,1610612749,2014,1610612739,106.0,0.453,0.893,...,0.0,4.0,4.0,0.0,0.0,1.0,1.0,5.0,4.0,-5.0
780,25767,2014-10-11,11400037,1610612749,1610612741,2014,1610612749,85.0,0.353,0.700,...,0.0,6.0,6.0,1.0,1.0,2.0,3.0,5.0,11.0,4.0
781,25774,2014-10-09,11400025,1610612765,1610612749,2014,1610612765,94.0,0.383,0.711,...,0.0,7.0,7.0,0.0,0.0,0.0,1.0,3.0,6.0,-12.0
782,25781,2014-10-08,11400017,1610612749,1610612763,2014,1610612749,86.0,0.413,0.636,...,0.0,5.0,5.0,5.0,0.0,1.0,1.0,2.0,8.0,12.0